.fa-tachometer-alt:before{
    color: #007ACC !important;
}
.fa-newspaper:before{
    color: tomato !important;
}
.fa-map-marker-alt:before{
    color: #007ACC !important;
}
.fa-chart-pie:before{
    color: #007ACC !important;
}
.fa-user:before{
    color: tomato !important;
}
.fa-table:before{
    color: #007ACC !important;
}
.fa-poll:before{
    color: tomato !important;
}
.fa-lock:before{
    color: #007ACC !important;
}

/*Ul Blogs//*/
/*Ul Blogs//*/
/*Ul Blogs//*/
/*Ul Blogs//*/
/*Ul Blogs//*/
/*Ul Blogs//*/
/*Ul Blogs//*/
.fa-mortar-pestle:before{
    color: #FCC426 !important;
}
.fa-globe-americas:before{
    color: #FCC426 !important;
}
.fa-pepper-hot:before{
    color: #FCC426 !important;
}
/*UL Maps*/
.fa-city:before{
    color: #FCC426 !important;
}
.fa-landmark:before{
    color: #FCC426 !important;
}
.fa-flag:before{
    color: #FCC426 !important;
}
.fa-star:before{
    color: #FCC426 !important;
}
.fa-address-card:before{
    color: #FCC426 !important;
}
.fa-users:before{
    color: #FCC426 !important;
}
.fa-tags:before{
    color: #FCC426 !important;
}
.fa-user-tie:before{
    color: #FCC426 !important;
}
.fa-credit-card:before{
    color: #FCC426 !important;
}


.fa-eye:before{
    color:  #33E736 !important;
}
.fa-plus-circle:before{
    color:  #33E736 !important;
}
